.sd {
    color: #333;
    font-family: sans-serif;
    line-height: 1;
    display: flex;
    flex: none;
    justify-content: space-between;
    transition-duration: 1000ms;
    width: 100%;
    max-width: 100%;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sd .richText {
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    display: block;
    word-break: break-word;
    color: #000000;
    font-family: var(--s-font-ecbb00d0);
    font-size: 16px;
    font-weight: 400;
    height: auto;
    text-align: left;
    flex: 1;
    width: auto;
    margin: 0;
    max-width: 100%;
}

.sd .appear {
    color: #333;
    font-family: sans-serif;
    line-height: 1;
    display: flex;
    align-content: center;
    align-items: center;
    background: rgba(0,0,0,0.0);
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-end;
    width: auto;
    margin: 20px 0 0;
    max-width: 100%;
}

.image {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1626371653196-d86769521623?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
}

.image:before {
    background-position: 50%;
    background-size: cover;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: inherit;
    width: 100%;
    z-index: -2;
}

