.experienceTitle {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  flex: none;
  flex-wrap: nowrap;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: visible;
  overflow-wrap: anywhere;
  word-break: break-word;
  color: #000000;
  font-family: var(--s-font-ecbb00d0);
  font-size: 24px;
  font-weight: 700;
  height: auto;
  line-height: 1.4;
  margin: 0px 0px 10px 0px;
  text-align: center;
  transition-delay: 100ms;
  transition-duration: 1000ms;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.experience {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  display: flex;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: flex-end;
  align-items: flex-end;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
}

.barOne {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  pointer-events: all;
  position: relative;
  z-index: 0;
  background: #000000;
  flex: none;
  height: 2px;
  transform-origin: center right;
  transition-duration: 1000ms;
  width: 100%;
  max-width: 100%;
}

.barTwo {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  padding: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  pointer-events: all;
  position: relative;
  z-index: 0;
  background: #000000;
  flex: none;
  height: 4px;
  margin: 2px 0px 0px 0px;
  transform-origin: center right;
  transition-duration: 1000ms;
  width: 100%;
  max-width: 100%;
}

.experienceContainer {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  display: flex;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: flex-start;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.experienceRow {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  display: flex;
  flex: none;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px;
  transition-duration: 1000ms;
  width: 100%;
  max-width: 100%;
}

.experienceContainer {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  display: flex;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: flex-start;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.experienceRow {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  display: flex;
  flex: none;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px;
  transition-duration: 1000ms;
  width: 100%;
  max-width: 100%;
}

.expTitle {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  display: flex;
  flex: none;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.company {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  flex: none;
  flex-wrap: nowrap;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: visible;
  overflow-wrap: anywhere;
  word-break: break-word;
  color: #000000;
  font-family: var(--s-font-ecbb00d0);
  font-size: 18px;
  font-weight: 700;
  height: auto;
  letter-spacing: -0.03em;
  line-height: 1.4;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.post {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  display: flex;
  flex: none;
  pointer-events: all;
  position: relative;
  z-index: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px;
  align-content: flex-start;
  align-items: flex-start;
  margin: 10px 0px 0px 0px;
  max-width: 100%;
}

.postDate {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  flex: none;
  flex-wrap: nowrap;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: visible;
  overflow-wrap: anywhere;
  word-break: break-word;
  color: #000000;
  font-family: var(--s-font-ecbb00d0);
  font-size: 12px;
  font-weight: 700;
  height: auto;
  line-height: 1.4;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.postName {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  flex: none;
  flex-wrap: nowrap;
  pointer-events: all;
  position: relative;
  z-index: 0;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: visible;
  overflow-wrap: anywhere;
  word-break: break-word;
  color: #000000;
  font-family: var(--s-font-ecbb00d0);
  font-size: 12px;
  font-weight: 700;
  height: auto;
  line-height: 1.4;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.experienceDescription {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  align-content: center;
  align-items: center;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  pointer-events: all;
  position: relative;
  z-index: 0;
  display: block;
  word-break: break-word;
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--s-font-ecbb00d0);
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 1.6;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px;
  text-align: justify;
  width: 100%;
  max-width: 100%;
}

.descriptionText {
  --s-font-ecbb00d0: "Be Vietnam Pro";
  pointer-events: all;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1);
  word-spacing: 1px;
  backface-visibility: visible;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  display: block;
  min-height: 1em;
  margin: 0px 0px 0px 0px;
}

.container {
  @media screen and (min-width: 840px) {
    margin-bottom: 20px;
  }
}
